body{
  text-align: center;
  background-color: #aaeeee;
  font-family: "Comic Sans MS", "Arial";
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  
}
div{
    background: #ccc;
    margin: 1em;
    padding: 3px;
}
#title{
  background: #55ccff;
  color: #fff;
}
#body{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
h1{
  font-size: 34px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
p{
  font-size: 15px;
}
