body{
  text-align: center;
  background-color: #c0cbcc;
  font: "Comic Sans MS";
  margin-left: 5em;
  margin-right: 5em;
  
}
div{
    background: #bbb;
    margin: 1em;
}
#title{
  background: #55ccff;
  color: #fff;
}
