body{
  text-align: center;
  background-color: #aaeeee;
  font-family: "Comic Sans MS", "Arial";
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  
}
div{
    background: #bbb;
    margin: 1em;
}
#title{
  background: #55ccff;
  color: #fff;
}
h1{
  font-size: 22px;
}
h2{
  font-size: 19px;
}
h3{
  font-size: 17px;
}
p{
  font-size: 15px;
}
